:root {
    --black: #000000;
    --white: #fff;
    --grey: #7c7c7c;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Fjalla One', sans-serif;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

section {
    margin-top: 50px;
}

/* Header */

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    height: 69.5px;
    transition: all 0.6s ease-in-out;
    z-index: 100;
}

nav .logo img {
    width: 360px;
    height: 70px;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.4));
}

nav ul {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    gap: 40px;
    list-style: none;
}

nav ul li a {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    color: var(--white);
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
}

.nav-menu a:hover {
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    transition: all 0.3s ease-in-out
}

nav.scrolled {
    background-color: var(--white);
}

nav.scrolled ul li a {
    color: var(--black);
}

nav.scrolled .nav-menu a:hover {
    color: var(--white);
    background-color: var(--black);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    height: 4px;
    margin: 5px 40px 13px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

nav.scrolled .bar {
    background-color: var(--black);
}

/*Hero section*/

.herosection {
    background-image: url(images/tour-image-desktop-scaled.jpg);
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.herosection .dates a {
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    padding: 12px 24px;
    color: var(--white);
    width: 200px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 5px;
    display: inline-block;
    margin: 12px;
}

.herosection .dates a:hover {
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
}

/*Video section*/

.videossection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.butt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .button-,
.content .button-- {
    position: relative;
    bottom: 200px;
    padding: 20px;
    color: var(--white);
    background-color: var(--grey);
    cursor: pointer;
}

.content .button- {
    border-radius: 0 10px 10px 0;
}

.content .button-- {
    border-radius: 10px 0 0 10px;
}

.mySlides a {
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 200px;
    font-size: 70px;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

/*Music section*/

.musicsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -75px;
}

.item.large img {
    width: 600px;
}

.item.small img {
    width: 300px;
}

.item a {
    font-family: 'Dosis', sans-serif;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: var(--grey);
}

.item.large a {
    font-size: 24px;
}

.item.small a {
    font-size: 20px;
}

.item .play {
    display: flex;
}

.item .play img {
    width: 28px;
    padding-left: 10px;
}

.item h3 {
    font-family: 'Fjalla One';
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.item.large h3 {
    font-size: 36px;
}

.item.small h3 {
    font-size: 28px;
}

.musicsection .right {
    display: flex;
    flex-direction: column;
}

.musicsection .right1 {
    display: flex;
    gap: 50px;
}

/*Shop section*/

.shopsection {
    background-image: url(images/shop.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.shopsection .shop {
    font-family: 'Fjalla One';
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    width: 1000px;
    height: 500px;
}

.shopsection .shop a {
    text-decoration: none;
    color: var(--white);
}

/*Footer section*/

.footersection {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

.footersection .follow ul {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 12px;
    list-style: none;
    gap: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.footersection .link ul a {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}

/*Store section*/

.nothome {
    position: relative;
    background-color: var(--grey);
    height: 70px;
    width: 100%;
}

.storesection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 75px;
    gap: 50px;
}

.merch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merch img {
    width: 300px;
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 5px;
    display: inline-block;
}

.merch img:hover {
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.figure {
    position: relative;
    max-width: 100%;
}

.figure img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
}

.figure:hover img.image-hover {
    opacity: 1;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.figure:hover img.image-main {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.merch ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: start;
    color: var(--black);
    width: 300px;
    height: 100px;
    display: inline-block;
}

.merch ul li a {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

/*Item section*/

.itemsection {
    display: flex;
    align-items: flex-end;
    margin-bottom: 75px;
}

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product .row-padding {
    display: flex;
    flex-direction: row;
}

.product .row-padding img {
    opacity: 0.8;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.product .row-padding img:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.desc {
    margin-right: 50px;
}

.desc .note {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.desc .copyright {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.itemsection .add a {
    font-family: 'Fjalla One', sans-serif;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    padding: 16px 20px;
    color: var(--white);
    width: 300px;
    height: 75px;
    background-color: var(--black);
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 50px;
}

.itemsection .add a:hover {
    font-size: 40px;
    color: var(--black);
    background-color: var(--white);
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

/*Acc section*/

.accsection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 14px;
}

.newsletter,
.create {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h1,
.create h1 a {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    text-decoration: none;
    color: var(--black);
}

.newsletter p {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 1.3em;
    width: 470px;
}

.newsletter .form,
.create .form {
    line-height: 60px;
    text-align: center;
}

.newsletter .form .in,
.create .form .in {
    font-family: 'Dosis', sans-serif;
    width: 400px;
    height: 36px;
    border-radius: 5px;
    font-size: 22px;
}

.newsletter .form .sub,
.create .form .sub {
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--black);
}

.newsletter .form .sub:hover,
.create .form .sub:hover {
    color: var(--black);
    background-color: var(--white);
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1300px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(17px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-17px) rotate(-45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    nav {
        width: 100%;
        height: 52.5px;
    }

    nav ul {
        position: fixed;
        right: -100%;
        top: 36.3px;
        gap: 20px;
        flex-direction: column;
        width: 200px;
        align-items: flex-end;
        border-radius: 0 0 0 10px;
        transition: all 0.6s ease-in-out;
    }

    nav ul li {
        font-size: 36px;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 30px;
    }

    nav.scrolled ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        background-color: var(--white);
        box-shadow: 8px 4px 4px var(--grey);
    }

    nav ul.active {
        right: 0;
    }

    nav .logo img {
        width: 270px;
        height: 52.5px;
    }

    .nothome {
        height: 52.5px;
    }

    .nothome ul {
        background-color: var(--grey);
    }

    .nothome.scrolled ul {
        background-color: var(--grey);
        box-shadow: none;
        top: -16px;
        transition: all 0.6s ease-in-out;
    }

    .nothome.scrolled ul a {
        color: var(--white);
    }

    .herosection img {
        width: 700px;
    }

    .videossection .mySlides a {
        font-size: 50px;
    }

    .musicsection {
        flex-direction: column;
    }

    .item.large img {
        width: 500px;
    }

    .item.small img {
        width: 300px;
    }

    .item .play img {
        width: 28px;
    }

    .shopsection {
        height: 100%;
    }

    .shopsection .shop {
        font-size: 60px;
        width: 700px;
        height: 500px;
    }

    .itemsection {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 750px) {
    .nothome.scrolled ul {
        top: -18px;
    }

    .herosection img {
        width: 300px;
    }

    .videossection .mySlides a {
        font-size: 30px;
    }

    .musicsection {
        flex-direction: column;
    }

    .item.large img {
        width: 300px;
    }

    .item.small img {
        width: 150px;
        margin-right: 20px;
    }

    .item.large a,
    .item.small a {
        font-size: 15px;
    }

    .item .play img {
        width: 20px;
    }

    .item.large h3 {
        font-size: 27px;
        width: 300px;
    }

    .item.small h3 {
        font-size: 18px;
        width: 150px;
    }

    .musicsection .right {
        margin-top: 20px;
    }

    .musicsection .right1 {
        gap: 25px;
    }

    .shopsection {
        height: 100%;
    }

    .shopsection .shop {
        font-size: 36px;
        width: 400px;
        height: 300px;
    }

    .footersection {
        flex-direction: column;
    }

    .footersection .follow ul {
        border-radius: 6px;
        height: 40px;
        gap: 20px;
        margin-top: 20px;
    }

    .footersection .link ul a {
        font-size: 16px;
    }

    .product .row-padding img {
        width: 100px;
    }

    .newsletter p {
        font-size: 1em;
        width: 300px;
    }

    .newsletter .form .in,
    .create .form .in {
        width: 300px;
        height: 36px;
    }

    .newsletter .form .sub,
    .create .form .sub {
        font-size: 20px;
        width: 75px;
    }
}